<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Frucnatra Test</title>
</head>

<body>
    <h1><a href="<%= url_root %>">Frucnatra Demo</a></h1>
    <%= yield %>
</body>

</html>
